$standard-width: 37.8rem;
.code-block {
  @extend .font-12;
  color: $black;
  background-color: $white-background;
  width: $standard-width;
  min-height: 26.4rem;

  &.--wide {
    width: 100%;
  }
}


.code-example {
  width: $standard-width;
}